@import '../_Palette.scss';

button {
  height: 56px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  // 원하는 버튼 스타일이 있으면 className 정해서 스타일 지정해주기
  &.common {
    min-width: 100%;
    color: #fff;
    background-color: $primary;
  }
  &.whiteCommon {
    width: 208px;
    height: 48px;
    margin: 20px calc((100% - 208px) / 2);
    border: 1px solid $gray-350;
    text-align: center;
    font-size: 14px;
    color: $gray-350;
  }
  &.whiteRoundCommon {
    height: initial;
    padding: 7.5px 12px;
    border: 1px solid $gray-250;
    border-radius: 20px;
    color: #949494;
    font-size: 14px;
    font-weight: 500;
  }
  &.smallCommon {
    height: initial;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 15px;
    line-height: 15px;
    font-weight: 500;
    background-color: $primary;
    color: #fff;
  }
  &.addAccountBtn {
    width: 100%;
    height: 64px;
    background-color: #f6f6f6;
    border-radius: 12px;
    color: #949494;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &.textType {
    height: initial;
    color: $gray-500;
    text-decoration: underline;
    font-weight: 500;
    font-size: 14px;
  }
  &.iconButton {
    position: relative;
    width: 40px;
    height: initial;
  }
  &.iconButton.checkMe::before {
    content: '';
    display: block;
    position: absolute;
    top: 12px;
    right: 9px;
    width: 7px;
    height: 7px;
    border-radius: 5px;
    background-color: $systemError;
  }
  &.nav {
    color: $gray-350;
    font-weight: 500;
    border-radius: 0;
    height: inherit;
  }
  &.smallNav {
    width: 50px;
    text-align: center;
    font-size: 16px;
    padding: 13.5px 10px;
    color: $gray-450;
    border-radius: 0;
    height: inherit;
  }
  &.smallNav.checked {
    border-bottom: 2px solid #333;
    font-weight: 700;
    color: #333;
  }
  &.filterButton {
    height: initial;
    background-color: #fff;
    border: 1px solid $gray-250;
    border-radius: 20px;
    padding: 8px 12px;
    font-size: 15px;
    font-weight: 500;
  }
  &.filterButton.checked {
    background-color: $secondary;
    border: none;
    color: #fff;
  }
  &.itemButton {
    width: 100%;
    height: 32px;
    border-radius: 20px;
    color: #fff;
    background-color: $secondary;
    font-size: 14px;
  }
  &.itemButton.Done {
    background-color: $gray-500;
  }
  &.itemButton.equipped {
    background-color: $gray-150;
    color: $gray-500;
  }
  &.itemButton:disabled {
    opacity: 0.5;
    cursor: default;
  }
}
button:disabled {
  background-color: $gray-500 !important;
  color: $gray-150;
}
