@import '../_Palette.scss';

button {
  height: 56px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  // 원하는 버튼 스타일이 있으면 className 정해서 스타일 지정해주기
  &.common {
    min-width: 100%;
    color: #fff;
    background-color: #4194f1;
  }
  &.whiteCommon {
    width: 208px;
    height: 48px;
    margin: 20px calc((100% - 208px) / 2);
    border: 1px solid $gray-350;
    text-align: center;
    font-size: 14px;
    color: $gray-350;
  }
}
