@import '../Palette';

.calBackground {
  max-width: 800px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 15px;
  margin-top: 46px;
  margin-bottom: 80px;
}

.days {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  font-size: 14px;

  & .sun {
    color: #ff3257;
  }

  & .sat {
    color: #4194f1;
  }
}

.dates {
  margin-top: 20px;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;

  & .date {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    justify-content: space-around;
  }
}

.tr {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.td {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 56.5px;
  border-radius: 0px;
  padding-bottom: 10px;

  & .today {
    font-size: 14px;
    position: relative;
  }
  & .today::after {
    content: attr(data-text);
    width: 30px;
    height: 30px;
    background-color: $gray-150;
    border-radius: 999px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 30px;
  }

  & .eachDate {
    font-size: 14px;
    color: $gray-450;
  }

  & .accountPriceHeight {
    display: flex;
    flex-direction: column;
    align-items: center;
    & .accountPrice {
      font-size: 10px;
      font-weight: 400;
      z-index: 5;
    }

    & .income {
      color: $primary;
    }
    & .expenditure {
      color: $systemError;
    }
  }
}

.notThisMonthBox {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 56.5px;
  border-radius: 0px;
  padding-bottom: 10px;
  cursor: default;
  & span {
    color: white;
  }
}
