.controller {
  width: 299px;
  height: 60px;
  border-radius: 999px;
  background-color: white;
  position: fixed;
  z-index: 100;
  // top: 700px;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);

  & > .controllerRale {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;

    & button {
      width: 89px;
      height: 48px;
      font-size: 16px;
      background-color: transparent;

      &.select {
        color: #fff;
      }
    }
  }

  & .controllerMark {
    position: absolute;
    top: 6px;
    left: 105px;
    width: 89px;
    height: 48px;
    background-color: #4194f1;
    border-radius: 999px;
    transition: 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
}

@keyframes slideIn {
  from {
    bottom: -120px;
  }
  to {
    bottom: 40px;
  }
}
@keyframes slideOut {
  from {
    bottom: 40px;
  }
  to {
    bottom: -120px;
  }
}
.controller.top {
  animation: slideIn 0.3s ease-out  forwards;
}

.controller.bottom {
  animation: slideOut 0.3s ease-out  forwards;
}
