#header {
  // background-color: white;
  position: sticky;
  height: 80px;
  top: 0;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > button {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    width: 40px;
    height: 24px;
  }
  & > h1 {
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    font-size: 20px;
    min-width: 100%;
    text-align: center;
  }
  & > div {
    position: absolute;
    top: 55%;
    right: 15px;
    transform: translateY(-50%);
    width: 40px;
    font-size: 23px;
  }
}
