.inputArea{
    position: relative;
    
    input{
         width: 100%;
         box-sizing: border-box;
    
         &::placeholder{
            color: #C8C8C8;
         }
         // Input 스타일별로 className 지정
         // nickname 페이지 input css
         &.nickname{
            height: 66px;
            border: 1px solid #C8C8C8;
            padding: 0 20px;
            border-radius: 10px;
         }
        //  &.nickname:focus{
        //     padding-top:20px;
        //     outline: none !important;
        //     border: 3px solid #4194F1;
        //     border-radius: 10px;
        //  }
         &.nickname.active{
            padding-top:20px;
            outline: none !important;
            border: 2px solid #4194F1;
            border-radius: 10px;
         }
    
    }
    // Input 공통 부분 : 글 작성 시작되면 오른쪽에 전체 삭제
    label.clearInput{
        position: absolute;
        top: 50%;
        right:5px;
        transform: translateY(-50%);
        display: none;

        button {
            width:24px;
            height:24px;
            font-size: 24px;
            color: #D9D9D9;
        }
    }
    label.clearInput.active{
        display: block;
    }
}
