@import '../Palette';

.inputArea {
  position: relative;

  input {
    width: 100%;
    box-sizing: border-box;
    font-family: 'Pretendard', sans-serif;

    &::placeholder {
      color: $gray-350;
    }
    // Input 스타일별로 className 지정
    // nickname 페이지 input css
    &.nickname {
      height: 66px;
      border: 1px solid $gray-350;
      padding: 0 20px;
      border-radius: 10px;
    }
    //  &.nickname:focus{
    //     padding-top:20px;
    //     outline: none !important;
    //     border: 3px solid #4194F1;
    //     border-radius: 10px;
    //  }
    &.nickname.active {
      padding-top: 20px;
      outline: none !important;
      border: 1px solid #ff3257;
      border-radius: 10px;
    }
    &.nickname.active.pass {
      padding-top: 20px;
      outline: none !important;
      border: 1px solid $gray-350;
      border-radius: 10px;
    }
    &.accountName {
      width: 100%;
      height: 48px;
      padding: 0 20px;
      font-size: 20px;
      outline: none;
      border: none;
      border-bottom: 1px solid $primary;
    }
    &.accountPrice {
      width: 100%;
      height: 48px;
      outline: none;
      border: none;
      font-size: 20px;
      padding: 0 20px;
      border-bottom: 1px solid $primary;
    }
    &.accountPriceValid {
      width: 100%;
      height: 48px;
      outline: none;
      border: none;
      font-size: 20px;
      padding: 0 20px;
      border-bottom: 1px solid $systemError;
    }
  }
  
  // Input 공통 부분 : 글 작성 시작되면 오른쪽에 전체 삭제
  label.clearInput {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    display: none;

    button {
      font-size: 24px;
      color: #d9d9d9;
    }
  }
  label.clearInput.active {
    display: block;
  }
}
