@import '../_Palette.scss';

.Wrapper {
  width: 100%;
  min-width: 375px;
  height: 100vh;
  background-color: #4194f1;
  overflow: hidden;
}
.Container {
  position: relative;
  width: 430px;
  height: 100vh;
  overflow-y: scroll;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  box-sizing: border-box;
  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
  }
}

@media (max-width: 1366px) {
  .Container {
    width: 100%;
  }
}

.snackbar {
  position: fixed;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  width: 410px;
  background-color: $primaryD-500;
  z-index: 6;
  transition: 0.5s ease-in-out;
  display: flex;
  align-items: center;
  color: #fff;
  padding: 15px;
  border-radius: 12px;
  box-sizing: border-box;
  z-index: 51;
  & svg {
    width: 25px;
    height: 25px;
    color: #93bbf1;
    margin-right: 7px;
  }
}
.snackbar.show {
  top: 10px;
}
@media (min-width: 800px) and (max-width: 1366px) {
  .snackbar {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
}
