@import '../_Palette.scss';

@mixin medalImg(
  $level,
  $path: '../../static/image/medal/medal_',
  $format: 'svg'
) {
  background-image: url('#{$path}#{$level}.#{$format}');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 70px;
  height: 80px;
}

#levelMedal {
  position: relative;
  width: 60px;
  height: 80px;
  top: -12px;

  & > p {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 22px;
    font-weight: 700;
  }

  &.level1,
  &.level2 {
    @include medalImg('level1');
    & > p {
      color: $primary;
    }
  }
  &.level3,
  &.level4 {
    @include medalImg('level3');
    & > p {
      color: $secondary;
    }
  }
  &.level5,
  &.level6 {
    @include medalImg('level5');
    & > p {
      color: #ff832c;
    }
  }
  &.level7,
  &.level8 {
    @include medalImg('level7');
    & > p {
      color: #b62c1d;
    }
  }
  &.level9,
  &.level10 {
    @include medalImg('level9');
    & > p {
      color: #b43deb;
    }
  }
}
