@import '../_Palette.scss';

// 푸어룸 : 뱃지 슬라이더
#badgeSlide {
  margin-top: 20px;
  & .slick-initialized .slick-slide {
    position: relative;
    width: 140px !important;
    height: 155px;
  }

  & .slick-slider .slick-track {
    position: relative;
    min-width: 700px;
  }
  & .item {
    position: relative;
    width: 120px !important;
    height: 155px;
    flex: 0 0 auto;
    border-radius: 20px;
    background-color: $gray-150;
    & > img {
      position: absolute;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
      width: 72px;
      height: 72px;
    }
    & p {
      position: absolute;
      left: 50%;
      bottom: 17px;
      transform: translateX(-50%);
      width: 75px;
      word-break: keep-all;
      text-align: center;
      font-weight: 700;
    }
  }
}
#poorTalkSlide {
  & .slick-initialized .slick-slide {
    position: relative;
    width: 100px !important;
      display: flex;
    // height: 155px;
    margin-left: 10px;
    // margin-right: 10px;
    // gap: 20px;
  }

  & .slick-slider .slick-track {
    position: relative;
    // min-width: 700px;
  }
  & .item {
    position: relative;
    // width: 120px !important;
    height: 110px;
    flex: 0 0 auto;
    // border-radius: 20px;
    // background-color: $gray-150;

    // margin-left: 20px;
    & > img {
      position: absolute;
      display: flex;
      // top: 20px;
      // left: 50%;
      // transform: translateX(-50%);
      width: 100px;
      height: 100px;
      border-radius: 8px;
    }
  }
}
