@import '../_Palette.scss';

.tooltip {
  position: relative;
  margin-left: 5px;
  display: inline-block;
  z-index: 2;
  & > button {
    height: initial;
    color: $gray-350;
    padding: 1px 10px;
    font-weight: 500;
    border-radius: 13px;
    background-color: #efefef;
  }
  & .tooltipContents {
    display: none;
    position: absolute;
    top: 40px;
    right: -140%;
    min-width: 220px;
    z-index: 10;
    padding: 20px;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 15px;
    text-align: left;
    & h2 {
      font-size: 14px;
      margin-bottom: 10px;
    }
    & h3 {
      font-size: 18px;
      margin-bottom: 12px;
    }
    & ul {
      & li {
        font-size: 13px;
        text-align: left;
        list-style: disc;
        transform: translateX(20px);
        & span {
          color: $primary;
        }
      }
    }
    & p{
      
    }
  }
  & .tooltipContents.show {
    display: block;
  }
}
.socialBg .socialRankingBox .row .socialRanking p {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}