@import '../_Palette.scss';

#tutorial {
  & #page {
    width: 430px;
    // 뚫린 배경
    & .background {
      box-sizing: border-box;
      padding: 64px 23px 20px 20px;
      mix-blend-mode: hard-light;
      background-color: rgba(0, 0, 0, 0.7);
      width: 430px;
      height: 100vh;
      position: fixed;
      top: -0px;
      z-index: 5000;
      @media (max-width: 1366px) {
        width: 100%;
        padding: 64px calc((100% - 757px) / 2) 20px;
        left: -1px;
      }
      @media (max-width: 800px) {
        min-width: 375px;
        padding: 64px 23px 20px 20px;
        left: 0px;
      }

      // 첫 번째 페이지
      & .rowBox {
        display: flex;
        align-items: center;
        & .mainIcon {
          background-color: rgb(128, 128, 128);
          margin-top: 5px;
          margin-right: 16px;
          width: 44px;
          height: 44px;
          border-radius: 12px;
        }
        & p {
          color: rgb(128, 128, 128);
          font-size: 16px;
        }
      }

      // 두 번째 페이지
      & .goAccountText {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 31px;
        color: rgb(128, 128, 128);
        font-size: 16px;
      }
      & .goAccount {
        background-color: rgb(128, 128, 128);
        margin-top: 20px;
        width: 100%;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        height: 124px;
        border-radius: 12px;
      }

      // 세 번째 페이지
      & .third {
        width: 100%;
        display: flex;
        & .goPoorRoom {
          background-color: rgb(128, 128, 128);
          margin-top: 213px;
          margin-right: 16px;
          width: 100%;
          height: 197px;
          border-radius: 12px;
        }
        & .goPoorRoomRight {
          margin-top: 213px;
          width: 100%;
          height: 197px;
          border-radius: 12px;
        }
      }

      // 네 번째 페이지
      & .fourth {
        width: 100%;
        display: flex;
        & .goChalLeft {
          margin-top: 213px;
          width: 100%;
          height: 197px;
          border-radius: 12px;
        }
        & .goChal {
          background-color: rgb(128, 128, 128);
          margin-top: 213px;
          margin-left: 16px;
          width: 100%;
          height: 197px;
          border-radius: 12px;
        }
      }

      // 세번째, 네번째 텍스트
      & .goText {
        margin-top: 31px;
        color: rgb(128, 128, 128);
        font-size: 16px;
      }
    }

    & .contentBg {
      box-sizing: border-box;
      padding: 64px 20px 20px 20px;
      width: 430px;
      height: 100vh;
      position: fixed;
      top: -0px;
      z-index: 5005;

      // 그만 볼래요
      & div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        & .closeBtn {
          margin-top: 618px;
          width: 150px;
          height: 45px;
          border-radius: 999px;
          color: white;
          border: 1px solid white;
          font-size: 16px;
          font-weight: 400;
        }
        & .slideBtnBox {
          margin-top: 20px;
          width: 80px;
          height: 14px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          color: white;
        }
      }

      // 첫 번째 페이지
      & .welcomeBox {
        background: none;
        width: 100%;
        height: 180px;
        & .welcomeModal {
          margin-top: 158px;
          width: 100%;
          height: 180px;
          box-sizing: border-box;
          padding: 25px 25px 0px 25px;
          border-radius: 12px;
          background-color: white;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          & p {
            font-size: 14px;
            color: $gray-500;
            margin-top: 20px;
          }

          & #bottomBox {
            width: 100%;
            display: flex;
            & button {
              width: 100%;
              font-size: 16px;
              font-weight: 400;
              color: $gray-500;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 800px) and (max-width: 1366px) {
  #tutorial {
    #page {
      .background {
        width: 100%;
        padding: 64px calc((100% - 757px) / 2) 20px;
      }
      .contentBg {
        width: 100%;
      }
    }
  }
}
