@import '../_Palette.scss';

#BadgeList {
  & > ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    & > li {
      position: relative;
      width: 96px;
      height: 132px;
      background-color: $gray-150;
      border-radius: 12px;
      & > div img {
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: 60px;
        height: 60px;
      }
      & > p {
        position: absolute;
        left: 50%;
        top: 90px;
        transform: translateX(-50%);
        width: 53px;
        word-break: keep-all;
        text-align: center;
        font-size: 14px;
        font-weight: 700;
      }
    }
  }
}
