@import '../Palette';

.editAccountBg {
  background-color: rgba(0, 0, 0, 0.3);
  width: 430px;
  height: 100%;
  position: fixed;
  top: -0px;
  z-index: 5000;
  display: flex;
  justify-content: center;

  & .ModalBox {
    box-sizing: border-box;
    width: 208px;
    height: 280px;
    border-radius: 12px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 266px;
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 20px;
    justify-content: space-between;
    align-items: center;
    position: relative;

    & p {
      font-size: 20px;
      font-weight: 700;
    }

    & img {
      width: 100px;
    }

    & button {
      width: 168px;
      height: 48px;
      border-radius: 12px;
      background-color: $primary;
      color: white;
      font-size: 16px;
    }
  }
}

@media (max-width: 820px) {
  .editAccountBg {
    width: 100%;
  }
}
