@import '../Palette';

#IntroTalkLayout {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  & > section {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
  }
  & section:first-child {
    padding-top: 6vh;
  }
  & section:last-child {
    padding-bottom: 120px;
  }
  .PoorImage {
    width: 250px;
    height: 250px;
    background-color: #f3f3f3;
    border-radius: 50%;
    margin: 30px auto 30px auto;
    position: relative;
    overflow: hidden;
    & > img {
      position: absolute;
      top: 40px;
      width: 200px;
      height: 100%;
      margin-left: 55px;
      // object-fit: cover;
    }
  }
  .RuleBox {
    width: 100%;
    height: 170px;
    background-color: #fcfcfc;
    border: 1px solid #c0c2c4;
    border-radius: 15px;
    justify-content: center;
  }
  .Rule {
    width: 100%;
    // height: 100px;
    // background-color: red;
    border-radius: 12px;
    text-align: center;
    padding-top: 40px;
  }
  .RuleText {
    color: gray;
    line-height: 22px;
  }
  .TextAgree {
    margin-top: 60px;
    text-align: center;
    color: orangered;
  }
  .StartChat2 {
    color: white;
    background-color: #4194f1;
    border-radius: 12px;
    width: 100%;
    font-size: 25px;
    margin-top: 20px;
    padding: 10px;
  }
}

@media (max-width: 1366px) {
  .IntroTalkLayout{
    max-width: 800px;
  margin: 0px auto;
  }
  }