@import '../Palette';

.background {
  box-sizing: border-box;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;

  & .title {
    margin-top: 50px;
    margin-bottom: 20px;
    width: 100%;
    & > p {
      font-weight: 700;
    }
    & > h1 {
      color: #4194f1;
    }
  }

  & .goPoorRoomBox {
    width: 100%;
    height: 124px;
    margin-bottom: 20px;

    & > button {
      display: flex;
      justify-content: space-between;
      background-color: $secondary;
      box-sizing: border-box;
      padding-left: 14px;
      padding-right: 20px;
      padding-top: 13px;
      width: 100%;
      height: 124px;
      overflow: hidden;

      & > p {
        font-size: 14px;
      }
      & > img {
        width: 122px;
        margin-top: 8px;
      }
    }
  }

  & .onClickBox {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    width: 100%;
    height: 64px;

    & > div {
      width: 20px;
      height: 64px;
    }

    & > button {
      width: 100%;
      height: 64px;
      font-size: 16px;
      border-radius: 12px;
      background-color: $gray-150;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $gray-450;
      & > img {
        width: 28px;
        margin-left: 8px;
      }
    }
  }
}

.addAccountPlusBtn {
  margin-left: 10px;
  width: 23px;
  height: 23px;
  background-color: white;
  border-radius: 30px;
  text-align: center;
  line-height: 27px;
  color: #d9d9d9;
}

.accountList {
  width: 100%;
  height: 100%;
  background-color: $gray-150;
  border-radius: 12px;
  box-sizing: border-box;
  padding: 20px 12px;
  margin-bottom: 20px;
  & > p {
    margin-bottom: 15px;
  }
}

.accountList span {
  color: #c8c8c8;
}

.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 13px;

  .moreNdelBtn {
    display: flex;
    align-items: center;

    .mainDelBtn {
      color: #d9d9d9;
      cursor: pointer;
    }
  }
}

.accountName {
  font-size: 14px;
  color: #777777;
  margin-bottom: 3px;
}

.accountMoney {
  font-weight: 700;
  color: black;
}

.goAccountBtn {
  width: 58px;
  height: 27px;
  background-color: white;
  border-radius: 999px;
  font-size: 12px;
  text-align: center;
  line-height: 27px;
}

// 삭제 버튼 모달
.delModalBg {
  background-color: rgba(0, 0, 0, 0.3);
  width: 430px;
  height: 100%;
  position: fixed;
  top: -0px;
  z-index: 5000;
  display: flex;
  justify-content: center;
  // transform: translateX(-50%);

  & .delModalBox {
    position: absolute;
    width: 100%;
    height: 206px;
    padding: 0 40px;
    box-sizing: border-box;
    bottom: -60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 28px 28px 0px 0px;
    -webkit-transition: 0.5s;
    transition: 0.5s;

    & > h2 {
      margin-top: 36px;
    }

    & > div {
      margin-top: 50px;
      width: 100%;
      display: flex;
      justify-content: center;
      & > .cancleBtn {
        width: 100%;
        height: 56px;
        border-radius: 12px;
        background-color: $gray-350;
        color: white;
        margin-right: 16px;
      }
      & > .delBtn {
        width: 100%;
        height: 56px;
        border-radius: 12px;
        background-color: $systemError;
        color: white;
      }
    }
  }
  & .delModalBox::before {
    content: '';
    display: block;
    position: absolute;
    width: 40px;
    height: 6px;
    border-radius: 7px;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $gray-300;
  }
  // CalendarModal 열릴 때 애니메이션
  & .delModalBox.modalAnimation {
    bottom: 0;
    animation-name: modalOpenAnimation;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
  }
  @keyframes modalOpenAnimation {
    0% {
      bottom: -60vh;
    }
    100% {
      bottom: 0;
    }
  }
}

@media (max-width: 1366px) {
  .delModalBg {
    width: 100%;
  }
}
