@import '../Palette';

.background {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.title {
  margin-top: 50px;
  margin-bottom: 20px;
  width: 320px;
}

.title p {
  font-weight: 700;
}

.title h1 {
  color: #4194f1;
}

.addAccountBtn {
  width: 320px;
  height: 64px;
  background-color: #fafafa;
  border-radius: 12px;
  color: #949494;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Pretendard', sans-serif;
}

.addAccountPlusBtn {
  margin-left: 10px;
  width: 23px;
  height: 23px;
  background-color: white;
  border-radius: 30px;
  text-align: center;
  line-height: 27px;
  color: #d9d9d9;
}

.accountList {
  width: 320px;
  height: 100%;
  background-color: #fafafa;
  border-radius: 12px;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 20px;
}

.accountList span {
  color: #c8c8c8;
}

.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;

  .moreNdelBtn {
    display: flex;
    align-items: center;

    .mainDelBtn {
      color: #d9d9d9;
      cursor: pointer;
    }
  }
}

.accountName {
  font-size: 14px;
  color: #777777;
}

.accountMoney {
  font-weight: 700;
}

.goAccountBtn {
  width: 58px;
  height: 27px;
  background-color: white;
  border-radius: 999px;
  font-size: 12px;
  text-align: center;
  line-height: 27px;
}

// 삭제 버튼 모달
.delModalBg {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: fixed;
  top: -0px;
  z-index: 5000;
  display: flex;
  justify-content: center;

  & > .delModalBox {
    box-sizing: border-box;
    width: 430px;
    height: 206px;
    background-color: white;
    max-height: 65%;
    position: absolute;
    bottom: 0px;
    border-radius: 28px 28px 0px 0px;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;

    & > h2 {
      margin-top: 36px;
    }

    & > div {
      margin-top: 50px;
      & > .cancleBtn {
        width: 152px;
        height: 56px;
        border-radius: 12px;
        background-color: $gray-350;
        color: white;
        margin-right: 16px;
      }
      & > .delBtn {
        width: 152px;
        height: 56px;
        border-radius: 12px;
        background-color: $systemError;
        color: white;
      }
    }
  }
}
