@import '../Palette';

#mainBackground {
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;

  // 어푸어푸 & 알림 아이콘
  & .header {
    margin-top: 50px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    & > button {
      width: 44px;
      height: 44px;
      & > img {
        width: 44px;
      }
    }
  }

  // 가계부 없을 때
  & .noneAccountList {
    background-color: $gray-150;
    width: 100%;
    height: 124px;
    border-radius: 12px;
    margin-bottom: 20px;
    // box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    & > button {
      box-sizing: border-box;
      padding: 13px;
      color: white;
      width: 100%;
      height: 124px;
      text-align: left;
      display: flex;
      justify-content: space-between;

      & div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        & .title {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          & .titleName {
            font-size: 20px;
            font-weight: 700;
            color: black;
          }
          & p {
            margin-top: 4px;
            font-size: 14px;
            font-weight: 400;
            color: $gray-450;
          }
        }
        & .makeAccount {
          margin-top: 20px;
          width: 112px;
          height: 33px;
          border-radius: 999px;
          background-color: $primary;
          color: white;
          font-size: 14px;
          font-weight: 700;
          text-align: center;
          line-height: 33px;
        }
      }
    }
    & img {
      width: 77px;
      height: 97px;
    }
  }

  // 가계부 버튼
  & .accountList {
    background-color: $primary;
    width: 100%;
    height: 124px;
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);

    & > button {
      box-sizing: border-box;
      padding: 13px;
      color: white;
      width: 100%;
      height: 124px;
      text-align: left;
      display: flex;
      justify-content: space-between;

      & .title {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        & .titleName {
          font-size: 20px;
          font-weight: 700;
          color: white;
        }
        & p {
          margin-top: 4px;
          font-size: 14px;
          font-weight: 400;
          color: $primaryL-600;
        }
        & .priceText {
          margin-top: 28px;
          color: white;
          font-weight: 700;
        }
      }

      & img {
        width: 77px;
        height: 97px;
      }
    }
  }

  // 푸어룸 & 챌린지 박스
  & .rowBox {
    width: 100%;
    display: flex;
    margin-bottom: 32px;

    // 푸어룸 버튼
    & .goPoorRoomBox {
      width: 100%;
      height: 197px;
      margin-right: 16px;

      & > button {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        box-sizing: border-box;
        padding-left: 13px;
        padding-top: 13px;
        width: 100%;
        height: 197px;
        overflow: hidden;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);

        & div {
          width: 100%;
          text-align: left;

          & .titleName {
            font-size: 20px;
            font-weight: 700;
            color: black;
          }

          & p {
            margin-top: 4px;
            font-size: 14px;
            color: $gray-450;
            font-weight: 400;
          }
        }

        & > img {
          width: 122px;
          margin-top: 8px;
        }
      }
    }

    // 챌린지 버튼
    & .goChalBox {
      width: 100%;
      height: 197px;

      & > button {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        box-sizing: border-box;
        padding: 13px;
        width: 100%;
        height: 197px;
        overflow: hidden;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);

        & div {
          width: 100%;
          text-align: left;

          & .titleName {
            font-size: 20px;
            font-weight: 700;
            color: black;
          }

          & p {
            margin-top: 4px;
            font-size: 14px;
            color: $gray-450;
            font-weight: 400;
          }
        }

        & > img {
          width: 124px;
          margin-top: 8px;
        }
      }
    }
  }

  & .goAccountBox {
    display: flex;
    align-items: center;
    width: 150px;
    height: 43px;

    & > div {
      width: 20px;
      height: 64px;
    }

    & > button {
      width: 100%;
      height: 43px;
      font-size: 16px;
      border-radius: 999px;
      background-color: $gray-150;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $gray-450;
      & > img {
        width: 28px;
        margin-left: 8px;
      }
    }
  }
}

@media (max-width: 1366px) {
  .delModalBg {
    width: 100%;
  }
}
