@import '../Palette';

.Nickname {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 140px);
  padding: 100px 15px 40px;

  h1 {
    font-size: 26px;
    padding-bottom: 60px;
  }
}
