@import '../_Palette.scss';

#myPoorRoom {
  & > article {
    & > section {
      padding: 60px 20px;
      border-bottom: 12px solid $gray-150;
      @media (min-width: 800px) and (max-width: 1366px) {
        padding: 60px calc((100% - 800px) / 2);
      }
      // 섹션별 제목 공통 스타일
      & > h1 {
        font-size: 20px;
      }
    }
  }

  // 푸어 기본정보
  #myPoorInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;

    @media (max-width: 1366px) {
      padding: 10px calc((100% - 800px) / 2) 30px;
    }

    // 푸어 생성 안 했을 때
    & > img {
      width: 360px;
      margin-bottom: 30px;
      cursor: pointer;
    }

    & > .poorProfile {
      width: 300px;
      height: 320px;
      border-radius: 20px;
      background-color: $gray-150;
      margin: 0 auto;
    }
    & > .nickname {
      font-size: 24px;
    }
    & > .info {
      height: 130px;
      padding: 10px 0;
      color: $gray-500;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
  }

  // 소비성향
  #myConsumePropensity {
    & .consumeStyle {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      margin: 12px 0;

      & > li {
        background-color: $secondary;
        padding: 4px 8px;
        border-radius: 12px;
        font-size: 14px;
        color: #fff;
      }
    }
  }

  // 소비뱃지 : 2차 스코프
  #consumeBadgeArea {
    padding-right: 0;
    padding-bottom: 40px;
    & div.item.dontHave {
      position: relative;
      border-radius: 15px;
      overflow: hidden;
      cursor: pointer;
      & .disabled {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: rgba(20, 48, 92, 0.5);
        & p:first-child {
          position: absolute;
          top: 20px;
          left: 50%;
          transform: translateX(-50%);
          z-index: 10;
          width: 70px;
          height: 70px;
          background-color: rgba(255, 255, 255, 0.5);
          border-radius: 20px;
          color: #fff;
          font-size: 25px;
          text-align: center;
          padding-top: 20px;
          box-sizing: border-box;
        }
        & p:last-child {
          top: 100px;
          color: #fff;
        }
      }
      & img {
        filter: blur(3px);
      }
    }
  }

  // 6개월 소비근황
  #myConsumeRecentGraph {
    & > p {
      color: $gray-450;
      padding: 10px 0;
    }
  }

  // 푸어포인트
  #myPointBreakdown {
    & > h1 {
      text-align: center;
    }
    & > .periodInquiry {
      display: flex;
      flex-wrap: wrap;
      justify-content: right;
      gap: 12px;
      margin: 20px 0;
      & > li {
        background-color: #fff;
        border: 1px solid $gray-250;
        border-radius: 20px;
        padding: 8px 12px;
        cursor: pointer;
      }
      & > li.checked {
        background-color: $secondary;
        border: none;
        color: #fff;
      }
    }

    & > .detailOfPoint {
      width: 100%;

      & > .detailOfPointFilter {
        display: flex;
        justify-content: right;
      }
      & > .detailOfPointList {
        width: 100%;
        border-top: 1px solid $gray-200;
        opacity: 1;
        transition: 1s ease-in-out;

        & > li {
          padding: 20px 10px;
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid $gray-200;
          & > p {
            margin: 0;
            font-size: 18px;
          }
          & > p > span {
            display: block;
            font-size: 16px;
            font-weight: 500;
            color: $gray-400;
            padding-top: 6px;
          }

          & > p.value {
            text-align: right;
            font-weight: bold;
          }
          & > p.save {
            text-align: right;
            color: $primary;
          }
          & > p.use {
            text-align: right;
            color: #333;
          }
        }
      }
    }
  }
}
