.currentBackGround {
    margin: 20px 20px 20px 20px;
  }
.Header{
    padding-bottom: 15px;
    border-bottom: 2px solid #f3f3f3;;
    gap: 120px;
    display: flex;
}
.HeaderText{
    font-size: 1.5em;
    font-weight: 700;
}
.Arrow{
    // justify-content: flex-start;
    font-size: 1.8em;
    
}
.Messagesbox{
    height: 300px; // 710
    background-color: red;
}

.SandBox{
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}
.commentsBox{
    border: 2px solid black;
}
.SandInput{
    width: 390px;
    border: 1px solid #c0c2c4;
    border-radius: 30px;
    padding: 20px 80px 20px 20px;
    box-sizing: border-box;
    position: absolute;
    top: 90%;
    transform: translateY(-30%);
}
.SandButton{
    position: absolute;
    top: 90.5%;
    transform: translateY(-30%);
    right: 3px;
    font-size: 30px;
    color: #999;
    left: 75%;
    &:hover{
        color: #4194F1;
    }
}
.filebox label {
    position: absolute;
    top: 90.5%;
    transform: translateY(-30%);
    left: 68%;
//   display: inline-block;
//   line-height: normal;
//   border: 1px solid #ebebeb;
//   border-radius: .25em;
  padding: .5em .75em;
  color: #999;
  font-size: inherit;
  vertical-align: middle;
  background-color: #fdfdfd;
  cursor: pointer;
  border-bottom-color: #e2e2e2;
}

.filebox input[type="file"] {  /* 파일 필드 숨기기 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}
.PoorTalkCamera{
  width: 25px;
  height: 25px;
}