@import '../src/static/fonts/font.css';

html,
body {
  font-family: 'Pretendard', sans-serif;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
}
button {
  font-family: 'Pretendard', sans-serif;
  padding: 0;
  margin: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color:#333;
}
ol,
ul,
dl {
  list-style: none;
  padding: 0;
  margin: 0;
}

#portal{
  width:430px;
  margin: 0 auto;
}
.modalbg{
  width:430px;
}

@media (max-width: 1366px) {
  html, body{
    font-size: 14px;
  }
  #portal{
    width:100%;
  }
  .modalbg{
    width:100%;
  }
}
